<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <!-- <h1 class="m-0 text-dark">
              <i class="fas fa-arrow-left cursor-pointer" backButton></i> Register
            </h1> -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-6" *ngIf="!success">
                    <form #fpForm="ngForm" (ngSubmit)="fpForm.form.valid && authCheck()">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title m-0">Forgot Password</h2>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="form-wrapper">
                                    <div class="form-row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Email</mat-label>
                                                <input type="text" matInput name="email" autocomplete="off" [(ngModel)]="chngPwdUser.email" pattern="[a-zA-Z0-9.''_%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" #email="ngModel" required>
                                                <mat-error *ngIf="email?.errors?.['required']">This field is required.</mat-error>
                                                <mat-error *ngIf="email?.errors?.['pattern']">Please enter the valid email.</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>DOB</mat-label>
                                                <input matInput [matDatepicker]="picker" (click)="picker.open()" matInput name="dob" autocomplete="off" [(ngModel)]="chngPwdUser.dob" required>
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                                <mat-error>This field is required.</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit"
                                            class="btn btn-primary float-right col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-2 mb-2 mt-md-0 mb-md-0"
                                            [disabled]="!fpForm.valid">GO</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </form>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-6" *ngIf="success">
                    <form #updateUserPwdForm="ngForm" (ngSubmit)="updateUserPwdForm.form.valid && changePassword()">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title m-0">Reset Password</h2>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="form-wrapper">
                                    <div class="form-row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>New Password</mat-label>
                                                <input type="password" matInput name="newPassword"
                                                    autocomplete="off"
                                                    [(ngModel)]="password.newPassword" #newPassword="ngModel" required>
                                                <mat-error>This field is required.</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Confirm Password</mat-label>
                                                <input type="password" matInput name="confirmPassword"
                                                    autocomplete="off"
                                                    [(ngModel)]="password.confirmPassword" #confirmPassword="ngModel" required>
                                                <mat-error>This field is required.</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit"
                                            class="btn btn-primary float-right col-lg-2 col-md-2 col-sm-12 col-xs-12 mt-2 mb-2 mt-md-0 mb-md-0"
                                            [disabled]="!updateUserPwdForm.valid">Save</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </form>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-3">
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->